:root {
  /* colors */
  --bg-color: #0e0e10;
  --surface-color: #1a1a1d;
  --text-primary: #f1f1f1;
  --text-secondary: #a9a9b3;
  --accent-color: #ffc107;
  --error-color: #ff6b6b;

  /* Font Sizes */
  --text-title: 2.5rem;
  --text-subtitle: 1.5rem;
  --text-body: 1rem;
  --text-small: 0.875rem;
}

.wrapper {
  width: 86%;
  margin: 0 auto;
}
body {
  background-color: var(--bg-color);
  color: var(--text-primary);
}
.title {
  font-size: var(--text-title);
  font-weight: bold;
}
.subtitle, .section-title {
  font-size: var(--text-subtitle);
}
.subtitle {
  color: var(--text-secondary);
}
@media (prefers-color-scheme: dark) {

}
